@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: "Noto Serif Thai";
  src: url("/fonts/NotoSerifThai/NotoSerifThai-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
.noto-serif-thai {
  font-family: "Noto Serif Thai", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.swal2-title {
  font-family: "Noto Serif Thai", serif;
}
.swal2-text {
  font-family: "Noto Serif Thai", serif;
}
.swal2-confirm {
  font-family: "Noto Serif Thai", serif;
}
.swal2-cancel {
  font-family: "Noto Serif Thai", serif;
}
select {
  background: var(--background); 
  color: var(--foreground); 
}
legend {
  background: var(--background); 
  color: var(--foreground); 
}
input {
  background: var(--background); 
  color: var(--foreground); 
}
thead {
  background: var(--background); 
  color: var(--foreground); 
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-noto-serif-thai);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), serif;
}

